<div id="order">
  <ul>
    <li>Order id : {{id}}</li>
    <li>Customer name: {{customer_name}}</li>
  </ul>

  <table>
  {{#lines}}
    <tr>
      <td>{{quantity}}</td>
      <td>{{article_id}}</td>
      <td>{{article_description}}</td>
    </tr>
  {{/lines}}
</ul>